<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.logai.context.mapper.OnboardContextMapper">

    <select id="selectByThemeIds" resultType="com.logai.context.entity.OnboardContext">
        SELECT
        oc.id,
        oc.theme_id,
        oc.context,
        t.theme_name
        FROM onboard_context oc
        LEFT JOIN themes t ON oc.theme_id = t.id
        <where>
            <if test="themeIds != null and themeIds.size() > 0">
                oc.theme_id IN
                <foreach collection="themeIds" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
        ORDER BY oc.id
    </select>

</mapper>
